* {
    c1: #fdccd6;
    c2: #fdc7ba;
    c3: #fec29c;
    c4: #febc7b;
    c5: #ffb654;
    c6: #ffaf00;
    background: #443968;
    foreground: #000000;
    foregroundsecondary: #ffffff;
    border: #5b3a98;
    backgroundalpha: #443968b8;
    c1alpha: #fdccd6b8;
    c2alpha: #fdc7bab8;
    c3alpha: #fec29cb8;
    c4alpha: #febc7bb8;
    c5alpha: #ffb654b8;
    c6alpha: #ffaf00b8;
}
